<form #startNewProcess="ngForm">
  <ion-list>
    <ion-item>
      <button ion-button full (click)="scan('camera');">
        <ion-icon name="camera-outline"></ion-icon>
        &nbsp; Take picture
      </button>
      <button ion-button full color="dark" (click)="scan('library');">
        <ion-icon name="images"></ion-icon>
        &nbsp; Select picture
      </button>
      <div>
        <img alt="No Image" *ngIf="image" [src]="image">
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Plate Number</ion-label>
      <ion-input required type="string" name="plateNumber" type="text" [(ngModel)]="model.plateNumber"
        #plateNumber="ngModel"></ion-input>
      <div class="error" *ngIf="plateNumber.hasError('required')">Plate Number Required</div>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Infringement Type</ion-label>
      <ion-select [(ngModel)]="model.infringementType" name="infringementType" placeholder="Infringement Type">
        <ion-select-option *ngFor="let item of infringmentTypes" [value]="item.value">{{ item.value }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Infringement Notes</ion-label>
      <ion-textarea name="infringementNotes" type="text" [(ngModel)]="model.infringementNotes"
        #infringementNotes="ngModel"></ion-textarea>
    </ion-item>
    <ion-row class="ion-padding">
      <ion-col>
        <ion-button (click)="onSubmit()" [disabled]="!startNewProcess.form.valid" expand="block" type="submit"
          color="primary" id="login">Submit</ion-button>
      </ion-col>
    </ion-row>
    <div>Logs</div>
    <ion-list>
      <ion-item *ngFor="let log of logs">
        <ion-label>{{ log }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-list>
</form>