
    <form #startNewProcess="ngForm" (ngSubmit)="onSubmit()">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Plate Number</ion-label>
          <ion-input type="string" name="plateNumber" ngModel type="text" [(ngModel)]="model.plateNumber" #plateNumber="ngModel"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Infringement Type</ion-label>
            <IonSelect [(ngModel)]="model.infringementType" name="infringementType" placeholder="Infringement Type">
                <IonSelectOption *ngFor="let item of infringmentTypes" [value]="item.value">{{ item.value }}</IonSelectOption>
              </IonSelect>
            <ion-input type="string" name="InfringementType" ngModel type="text" [(ngModel)]="model.InfringementType" #InfringementType="ngModel"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Infringement Notes</ion-label>
            <IonTextarea name="infringementNotes" ngModel type="text" [(ngModel)]="model.infringementNotes" #infringementNotes="ngModel"></IonTextarea>
          </ion-item>
        <ion-row class="ion-padding">
          <ion-col>
            <ion-button type="submit" [disabled]="!startNewProcess.form.valid" expand="block" type="submit" color="primary" id="login">{{ 'LOGIN_BUTTON' | translate }}</ion-button>
          </ion-col>
        </ion-row>
      </ion-list>
    </form>
